<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>RP OneTap Page</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script async src="http://kefany.svl.corp.google.com:9879/gsi/client"></script>
  <script async src="js/onetap.js"></script>
</head>
<style>
  #rp-onetap-iframe-container {
    border: none;
    height: 330px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 375px;
    z-index: 9999
  }
  #rp-onetap-iframe-container iframe{
    border: none;
  }
</style>

<body>
  <script>
    addEventListener('load', function(){
      initializeOneTapScript({
        client_id: '114029609392094723033',
        auto_select: false,
        login_url: 'http://localhost:3000/login-xhr',
        redirect_url: undefined,
        parent_origin: ['http://localhost:3000', 'http://localhost:8000', 'http://example.com:8000'],
      });
    })
  </script>
</body>

</html>